#WeTeX_mmlcode { display: none; }
#WeTeX_m1[contenteditable="true"] span:not(:empty) {}
#WeTeX_m1[contenteditable="true"] span.mspace {}
#WeTeX_m1:before { content: "▶"; }
#WeTeX_m1:after { content: "◀"; }
.content { width: 100%; float: left; font-size:125%; text-align: justify;}
.widgets { width: 40%; text-align: right; float: right; }

